@model Spa_Management.Models.tbIPQRSChecks

@{
    ViewData["Title"] = "Delete";
}

<div class="row">
    <div class="col-sm-12 col-md-9 col-lg-6">
        <div class="panel panel-info ">
            <div class="panel-heading "><h4>Are you sure you want to delete this?</h4></div>
            <div class="panel-body">
                <h3>IPQRSChecks</h3>           
                    <hr />
                    <dl class="dl-horizontal">
                        <dt>
                            @Html.DisplayNameFor(model => model.inComeDetails)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.inComeDetails)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.score)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.score)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.status)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.status)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.date)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.date)
                        </dd>
                        <dt>
                            @Html.DisplayNameFor(model => model.tbIndivuduals)
                        </dt>
                        <dd>
                            @Html.DisplayFor(model => model.tbIndivuduals.FirstName)
                        </dd>
                    </dl>

                    <form asp-action="Delete">
                        <input type="hidden" asp-for="ipqrsGuid" />
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        <a asp-action="Index">Back to List</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

