@model Spa_Management.Controllers.profileView


    @{
        ViewData["Title"] = "Index";
    }

                <div class="panel panel-info ">
                    <div class="panel-heading "><h4>Basic Info</h4></div>
                    <div class="panel-body">
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <table class="table table-hover table-responsive ">
                                @if (User.IsInRole("BankAdmin") || User.IsInRole("BankUser"))
                                {
                                    <tr>
                                        <td>
                                            <b>@Html.DisplayNameFor(model => model.Bank)</b>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Bank)
                                        </td>
                                    </tr>

                                }
                                @if (User.IsInRole("CompanyAdmin") || User.IsInRole("CompanyUser"))
                                {
                                    <tr>
                                        <td>
                                            <b>@Html.DisplayNameFor(model => model.Company)</b>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(model => model.Company)
                                        </td>
                                    </tr>

                                }
                                <tr>
                                    <td>
                                        <b>@Html.DisplayNameFor(model => model.name)</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.name)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>@Html.DisplayNameFor(model => model.idNum)</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.idNum)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>@Html.DisplayNameFor(model => model.phone)</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.phone)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>@Html.DisplayNameFor(model => model.email)</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.email)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>@Html.DisplayNameFor(model => model.gender)</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.gender)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>@Html.DisplayNameFor(model => model.marital)</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.marital)
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <b>@Html.DisplayNameFor(model => model.dob)</b>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(model => model.dob)
                                    </td>
                                </tr>

                            </table>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12">
                            <div class="row">
                                <form asp-action="ChgModePic" method="post" enctype="multipart/form-data" asp-controller="Profile">
                                    <div class="col-lg-6">
                                        <label asp-for="preferedCommMethod" class="control-label"></label>
                                        <select asp-for="preferedCommMethod" class="form-control" asp-items="@ViewBag.CommModes">
                                            <option selected="@Model.preferedCommMethod">~ Please Select ~</option>

                                        </select>
                                        <br />
                                        <button class="btn btn-block btn-default" name="btn" value="chgMode" type="submit">Change Mode</button>
                                        <br />
                                        <label>Change Picture?</label>
                                        <br />
                                        <input type="file" name="file" />
                                        <br />
                                        <button class="center btn btn-default btn-sm" name="btn" value="chgPic" type="submit">Change Picture</button>
                                    </div>
                                    <div class="col-lg-6">
                                        @{ var imagePath = Model.photo.Replace("~/", ""); }
                                        <label asp-for="photo" class="control-label"></label>

                                        <img src="@imagePath" class="img-responsive img-bordered" alt="User Image">
                                        @*<img src="~/profPics/5dc8e0b0-68a5-4044-bc30-0198d1c4148aWIN_20180817_10_17_38_Pro.jpg" class="img-responsive img-bordered" alt="User Image">*@
                                        <br />

                                    </div>
                                </form>


                                @*<div class="col-lg-6">
                                        <label asp-for="photo" class="control-label"></label>
                                        <img src="~/dist/img/user2-160x160.jpg" class="img-responsive img-bordered" alt="User Image">
                                        <br />
                                        <a asp-area="" asp-controller="Profile" asp-action="Index" class="btn btn-default btn-sm">Change Pic</a>
                                        <button class="center btn btn-default btn-sm" name="btn" value="Approve" type="submit">Change Pic</button>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
                <section class="content">
                    <div class="row">
                        <div class="box">
                            <div class="box-body">
                                <div class="panel panel-info ">
                                    <div class="panel-body">
                                        <div class="col-md-12">
                                            <div class="box box-solid">
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">Other Details</h3>
                                                </div><!-- /.box-header -->
                                                <div class="box-body">
                                                    <div class="box-group" id="accordion">
                                                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                                                        <div class="panel box box-primary">
                                                            <div class="box-header with-border">
                                                                <h4 class="box-title">
                                                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                                                        My Applications
                                                                    </a>
                                                                </h4>
                                                                <table id="example1" class="table table-responsive table-striped">
                                                                    <tr>
                                                                        <th>Tender No</th>
                                                                        <th>Details</th>
                                                                        <th>Date</th>
                                                                        <th>Amount</th>
                                                                        <th>Bond</th>
                                                                        <th>Status</th>
                                                                        <th>Approval Date</th>

                                                                    </tr>

                                                                    @{foreach (var item in Model.tbApplications)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.tenderNo)
                                                                                </td>


                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.Details)
                                                                                </td>

                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.bondStartDate)
                                                                                </td>

                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.amount)
                                                                                </td>

                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.approvedAmount)
                                                                                </td>

                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.status)
                                                                                </td>

                                                                                <td>
                                                                                    @Html.DisplayFor(modelItem => item.approvalDate)
                                                                                </td>
                                                                            </tr>
                                                                        }
                                                                    }

                                                                </table>

                                                            </div>

                                                        </div>

                                                        @*<div class="panel box box-success">
                                    <div class="box-header with-border">
                                        <h4 class="box-title">
                                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">

                                            </a>
                                        </h4>
                                    </div>
                                    <div id="collapseThree" class="panel-collapse collapse">
                                        <div class="box-body">
                                            ...
                                        </div>
                                    </div>
                                </div>*@
                                                    </div>
                                                </div><!-- /.box-body -->
                                            </div><!-- /.box -->
                                        </div><!-- /.col -->

                                    </div><!-- /.row -->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
    <!-- END ACCORDION & CAROUSEL-->
    <script>
        $(function () {
            $("#example1").DataTable(
                {
                    "ordering": false
                }
            );

        });
    </script>
