
@model IEnumerable<Spa_Management.Controllers.tbDirectorsController.ViewcompanyDirectors>

@{
    ViewData["Title"] = "Index";
}
<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-body">

                <div class="panel panel-info ">
                    <div class="panel-heading "><h4>Company Directors - @ViewBag.CompanyName</h4></div>
                    <div class="panel-body">
                        @if (User.IsInRole("CompanyAdmin"))
                        {
                            <p>
                                <a asp-action="Create" asp-controller="tbDirectors"><h2>Add New Company Director</h2></a>
                            </p>
                        }


                        <table id="example1" class="table table-bordered table-striped">

                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Verified)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.FirstName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.LastName)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Email)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.TelephoneNumber)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.CompanyName)
                                    </th>
                                </tr>
                                @*<tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.contact)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Role)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.idNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.status)
                                        </th>

                                        <th></th>
                                    </tr>*@
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Verified)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.FirstName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastName)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.TelephoneNumber)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CompanyName)
                                        </td>
                                        <td>
                                            @if (item.Verified == true)
                                            {
                                                <button class="btn btn-block btn-success btn-xs">Verified</button>

                                            }
                                            else
                                            {

                                                <button class="btn btn-block btn-danger btn-xs">Pending Verification</button>
                                            }
                                        </td>

                                        <td>
                                            @if (User.IsInRole("CompanyAdmin"))
                                            {
                                                @if (item.Verified == false)
                                                {
                                                    <a asp-action="Edit" asp-route-id="@item.DirectorId">Edit</a><label>|</label>
                                                    <a asp-action="Delete" asp-route-id="@item.DirectorId">Delete</a>
                                                }

                                            }
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>


                    @*<div>
                                <button class="btn btn-block btn-info btn-default" name="btn" asp-action="Create" asp-controller="CompanyDocs" type="submit">Once done with Directors Registration,Click here to upload company documents</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Back to List" asp-action="Index" asp-controller="mer" class="btn btn-warning" />
                        </div>*@
                </div>
            </div>
        </div>
</section>

@if (User.IsInRole("MasterAdmin"))
{
    @if ((int)ViewBag.State0 == 0)
    {
        <div class="panel panel-danger">
            <div class="panel-body">
                <form asp-action="Verify" method="post" asp-controller="Companies">
                    <input type="hidden" name="compID" value="@ViewBag.Gui" />

                    @*<div class="form-group">
                            <label asp-for="SystemBanksGuid" class="control-label"></label>
                            <select id="SystemBanksGuid" name="SystemBanksGuid" asp-for="SystemBanksGuid" class="form-control" asp-items="@(new SelectList(ViewBag.SystemBanksGuid, "SystemBanksGuid","bankName"))" onchange="form.submit();">
                                <option>~ Please Select reason ~ </option>
                            </select>
                        </div>*@

                    <label>Comments</label>
                    <textarea name="Details" class="form-control" placeholder="~ Please add Descriptive comments here ~"></textarea>
                    <div class="pull-right">
                        <p>
                            <div class="row">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <button class="btn btn-block btn-success btn-default" name="btn" value="Verify" type="submit">Verify</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-block btn-danger btn-default" name="btn" value="Reject" type="submit">Reject</button>
                                        </td>
                                        <td>
                                            <a asp-controller="mer" asp-action="Index" class="btn btn-warning">Back</a>
                                        </td>
                                        
                                    </tr>
                                </table>

                            </div>
                        </p>
                    </div>
                </form>
            </div>
        </div>
        @*<div>
            <a asp-controller="mer" asp-action="Index" class="btn btn-warning">Back</a>
        </div>*@
    }
}
<script>
    $(function () {
        $("#example1").DataTable(
            {
                "ordering": false
            }
        );

    });</script>


