@model IEnumerable<Spa_Management.Models.tbCRBChecks>

@{
    ViewData["Title"] = "Index";
}

<div class="panel panel-info ">
    <div class="panel-heading "><h4>CRB Checks</h4></div>
    <div class="panel-body">
        @*<p>
            <a asp-action="Create">Add New</a>
        </p>*@
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.inComeDetails)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.score)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.details)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.status)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.date)
                    </th>
                
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.inComeDetails)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.score)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.details)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.status)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.date)
                        </td>
                      
                        <td>
                            @*<a asp-action="Edit" asp-route-id="@item.CRBGuid">Edit</a> |*@
                            @*<a asp-action="Details" asp-route-id="@item.CRBGuid">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.CRBGuid">Delete</a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>