@model Spa_Management.Models.BankSetups

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>BankSetups</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BankId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BankId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.letterHead)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.letterHead)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Signature)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Stamp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Stamp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
