@model IEnumerable<Spa_Management.Models.CompanyDocs>

@{
    ViewData["Title"] = "Index";
}
@if (ViewBag.DocsUploaded == false)
{
    @*<div>

        <a asp-action="Create" class="btn btn-info btn-sm"><h2>Upload</h2></a>

    </div>*@

    <div class="form-group">
        <p>
            <a asp-action="Create" class="btn btn-warning btn-default"><h2>Click here to Upload</h2></a>
        </p>
       
    </div>

}


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.BoardResolution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PinCertificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RegistrationCertificate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cr12)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            @if ((int)ViewBag.State0 == 2 || (int)ViewBag.State0 == 6)
            {
                <th>
                    @Html.DisplayNameFor(model => model.AdminComments)
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                @if (ViewBag.DocsUploaded == true)
                {
                    <td>
                        <a asp-controller="CompanyDocs" asp-action="Download" asp-route-filename="@ViewBag.BoardResolutionDocPath">Download</a>
                    </td>

                    <td>
                        <a asp-controller="CompanyDocs" asp-action="Download" asp-route-filename="@ViewBag.PinCertDocPath">Download</a>
                    </td>
                    <td>
                        <a asp-controller="CompanyDocs" asp-action="Download" asp-route-filename="@ViewBag.RegCertDocPath">Download</a>
                    </td>
                    <td>
                        <a asp-controller="CompanyDocs" asp-action="Download" asp-route-filename="@ViewBag.Cr12DocPath">Download</a>
                    </td>
                }


                <td>
                    @if ((int)ViewBag.State0 == 0)
                    {

                        <button class="btn btn-block btn-default btn-xs">Pending Verification</button>

                    }
                    else if ((int)ViewBag.State0 == 1 || (int)ViewBag.State0 == 5)
                    {
                        <button class="btn btn-block btn-info btn-xs">Approved</button>

                    }
                    else if ((int)ViewBag.State0 == 2)
                    {
                        <button class="btn btn-block btn-danger btn-xs">Rejected</button>

                    }
                    else if ((int)ViewBag.State0 == 6)
                    {
                        <button class="btn btn-block btn-danger btn-xs">Ammended Docs Rejected</button>

                    }
                    else if ((int)ViewBag.State0 == 4)
                    {
                        <button class="btn btn-block btn-danger btn-xs">Ammended Docs Pending Verification</button>

                    }
                </td>
                @if ((int)ViewBag.State0 == 2 || (int)ViewBag.State0 == 6)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.AdminComments)
                    </td>
                }

                @if ((int)ViewBag.State0 == 0)
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                }
                @if ((int)ViewBag.State0 == 2)
                {
                    <td>
                        <a asp-action="Ammend" asp-route-id="@item.Id">Ammend</a> |
                        @*<a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    </td>
                }


            </tr>
        }
    </tbody>
</table>
