@model Spa_Management.Models.tbSMSLogs

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbSMSLogs</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.toPhone)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.toPhone)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.sentDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.sentDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
