@model IEnumerable<Spa_Management.Models.tbBranches>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table table-responsive table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branchCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.branch)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.tbBanks)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BankCollectionAccount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branchCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.branch)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tbBanks.BankCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BankCollectionAccount)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.branchCode">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.branchCode">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.branchCode">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
