@model IEnumerable<Spa_Management.Controllers.ViewcompanyUsers>
@{
    ViewData["Title"] = "Users";
}


<section class="content">
    <div class="row">
        <div class="box">
            <div class="box-body">
                <div class="panel panel-info ">
                    <div class="panel-heading "><h4>Company Users - @ViewBag.CompanyName</h4></div>
                    <div class="panel-body">
                        @if (User.IsInRole("CompanyAdmin"))
                        {
                            <p>
                                <a asp-action="Create" asp-controller="CompanyUsers" asp-route-id="@ViewBag.compGuid">Add New Company User</a>
                            </p>
                        }
                            <table id="example1" class="table table-bordered table-striped table-responsive">
                                <thead>
                                    <tr>
                                        <th>
                                            @Html.DisplayNameFor(model => model.id)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Name)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.contact)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Email)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.Role)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.idNumber)
                                        </th>
                                        <th>
                                            @Html.DisplayNameFor(model => model.status)
                                        </th>

                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.id)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.contact)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Email)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Role)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.idNumber)
                                        </td>
                                        <td>
                                            @if (item.status == 0)
                                            {
                                                <button class="btn btn-block btn-success btn-xs">Active</button>

                                            }
                                            else
                                            {

                                                <button class="btn btn-block btn-danger btn-xs">Discontinued</button>
                                            }
                                        </td>
                                        @*@if (User.IsInRole("CompanyAdmin") || User.IsInRole("CompanyUser"))
                                        {*@
                                            <td>
                                                <a asp-action="Edit" asp-controller="CompanyUsers" asp-route-id="@item.compUserGuid">Edit</a> |
                                                @*<a asp-action="Details" asp-route-id="@item.compUserGuid">Details</a> |*@
                                                <a asp-action="Delete" asp-controller="CompanyUsers" asp-route-id="@item.compUserGuid">Delete</a>
                                            </td>
                                        @*}*@
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a asp-action="Index" asp-controller="mer" class="btn btn-warning" >Back to List</a> |
    </div>
</section>

<script>
    $(function () {
        $("#example1").DataTable(
            {
                "ordering": false
            }
        );

    });
</script>



