@model Spa_Management.Models.tbBeneficiaryEmployees

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>tbBeneficiaryEmployees</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.institutionGuid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.institutionGuid)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RoleId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoleId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.designation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.designation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SirName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SirName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MiddleName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MiddleName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.contact)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.contact)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NationCode)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NationCode)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.dob)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.dob)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.idNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.idNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.regDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.regDate)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="userGuid" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
