@model Spa_Management.Models.tbDocUploadReq

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>tbDocUploadReq</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.docName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.docName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.tbSystemBanks)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tbSystemBanks.bankCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.docReqGuid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
